<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <p>Email from: <%= @contact[:name_first] %> <%= @contact[:name_last]%></p>
    <p>Email: <%= @contact[:email] %></p>
    <br>
    <p>
      <%= @contact[:body] %>
    </p>
  </body>
</html>